        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            border: 0;
            font-family: poppins;
            overflow-x: hidden;
        }
        
        .header {
            background-image: url('../assets/backgrounds/h_img.jpg');
            height: 100vh;
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
        }
        
        .row {
            text-align: center;
        }
        
        .p-intro {
            font-weight: 900;
        }
        
        .about {
            display: flex;
            justify-content: center;
            align-items: center;
            color: black;
            background-color: white;
            width: auto;
            margin-top: 50px;
            position: relative;
            height: 400px;
        }
        
        .about-desc {
            font-family: sans-serif;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 2px;
            font-family: poppins;
        }
        
        .about-title,
        .s-title {
            font-weight: 900;
            color: black;
            z-index: 800;
        }
        
        .services {
            margin-top: 10px;
            background-image: url('../assets/backgrounds/s_image.jpg');
            background-attachment: fixed;
            background-position: center;
            height: 400px;
            color: white;
        }
        
        #contactus-section {
            background-image: url('../assets/backgrounds/c_image.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }
        
        #emailAddress,
        #name,
        #message {
            background: transparent;
            border: solid whitesmoke;
        }
        
        #contactUsForm,
        input[type=text] {
            color: white;
            font-weight: 500;
            font-family: 'Courier New', Courier, monospace;
            z-index: 1000;
        }
        
        .social {
            display: flex;
            padding: 10px;
            margin-bottom: 10px;
            z-index: 100000;
        }